/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root {
    --vp-c-brand-1: #CF9202;
    --vp-c-brand-2: #CB007B;
    --vp-c-brand-3: #2c356d;
    --vp-c-brand-soft: rgba(0, 50, 98, .16);
}

.dark {
    --vp-c-brand-1: #FDB616;
    --vp-c-brand-2: #CB007B;
    --vp-c-brand-3: #2c356d;
    --vp-c-brand-soft: rgba(253, 181, 21, .16);
}

::selection {
    background-color: color-mix(in oklab, var(--vp-c-brand-1) 50%, transparent 50%);
    color: var(--vp-c-neutral);
}

/**
  * Badge
  * -------------------------------------------------------------------------- */

:root {
    --vp-badge-success-border: transparent;
    --vp-badge-success-text: var(--vp-c-success-1);
    --vp-badge-success-bg: var(--vp-c-success-soft);
}

.VPBadge.success {
    border-color: var(--vp-badge-success-border);
    color: var(--vp-badge-success-text);
    background-color: var(--vp-badge-success-bg);
}

:root {
    --vp-badge-neutral-border: transparent;
    --vp-badge-neutral-text: var(--vp-c-indigo-1);
    --vp-badge-neutral-bg: var(--vp-c-indigo-soft);
}

.VPBadge.neutral {
    border-color: var(--vp-badge-neutral-border);
    color: var(--vp-badge-neutral-text);
    background-color: var(--vp-badge-neutral-bg);
}

/**
  * Others
  * -------------------------------------------------------------------------- */

.w-full {
    width: 100%;
}

:root.dark .dark-invert {
    filter: saturate(200%) invert(80%) hue-rotate(180deg) contrast(130%);
}

.image-fit {
    object-fit: contain;
    aspect-ratio: 16 / 9;
}

table {
    width: 100%;
    max-width: 100%;
    display: table !important;

    > caption {
        caption-side: bottom;
        padding-top: 1em;
    }
}
